<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="~{fragments/header :: head('Homepage')}">

</head>

<body>
    <nav th:insert="~{fragments/navbar :: navbar}"></nav>
    <main class="container">
        <h1 class="text-center text-white title">Ricerca dati di accesso</h1>
        <p th:if="${success}"><strong style="color:green;">[[${success}]]</strong></p>
        <div id="top-bar-container">
            <div id="top-bar">
                <a class="button button-add" th:href="@{|/archive/create|}">Aggiungi
                    Dato</a>
                <form class="form" id="search-form" method="GET">
                    <input class="form-control" type="text" name="query" id="search">
                    <button class="button button-search" type="submit">Cerca</button>
                </form>
            </div>

        </div>
        <div id="tabella-ricerca">
            <table th:if="${dati} and ${dati.size > 0} " class="table mt-2">
                <thead>
                    <tr>

                        <th>Piattaforma</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="dato : ${dati}" th:object="${dato}">

                        <td>[[*{platform}]]</td>


                        <td id="button-section">
                            <button class="button button-details" data-bs-toggle="modal"
                                th:data-bs-target="'#details-'+*{id}">Dettagli</button>
                            <!-- Details Modal -->
                            <div class="modal fade" th:id="'details-'+*{id}" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="">Dettagli</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p><strong>Piattaforma: </strong>[[*{platform}]]</p>
                                            <p><strong>Utente: </strong>[[*{username}]]</p>
                                            <p><strong>Password: </strong>[[*{password}]]</p>
                                            <p><strong>Annotazioni: </strong>[[*{annotation}]]</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Chiudi</button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a class="button button-edit" th:href="@{|/archive/edit/*{id}|}">Modifica</a>


                            <button class="button button-delete" data-bs-toggle="modal"
                                th:data-bs-target="'#delete-' + *{id}">Elimina</button>

                            <!-- Details Modal -->
                            <div class="modal fade" th:id="'delete-' + *{id}" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="">Conferma eliminazione</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Sei sicuro di voolere eliminare i dati di accesso della piattaforma:
                                                <strong>[[*{platform}]]</strong>?
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Chiudi</button>
                                            <form th:action="@{|/archive/delete/*{id}|}" method="POST">
                                                <button class="button button-delete" type="submit">Elimina</button>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>





    </main>

    <th:block th:insert="~{fragments/footer :: script}"></th:block>
</body>

</html>