<!DOCTYPE html>
<html xlms:th="www.thymeleaf.org" lang="en">
<th:block th:insert="~{fragments/header :: head('Registrazione')}"></th:block>

<body>
    <nav th:insert="~{fragments/navbar :: navbar}"></nav>

    <main class="container">
        <h1>Modifica</h1>
        <div class="d-flex justify-content-center ">
            <form th:action="@{|/user/password-reset/${user.id}|}" th:object="${user}" method="post">


                <div class="mb-3">
                    <label class="form-label" for="password">Password:</label>
                    <input class="form-control" type="password" id="password" th:field="*{password}"
                        th:errorClass="is-invalid">

                    <div th:if="${#fields.hasErrors('password')}" class="invalid-feedback">
                        <ul>
                            <li th:each="error : ${#fields.errors('password')}" th:text="${error}"></li>
                        </ul>
                    </div>
                </div>

                <button class="button button-search" type="submit">Modifica password</button>


            </form>
        </div>
    </main>
    <th:block th:insert="~{fragments/footer :: script}"></th:block>
</body>

</html>