<th:block th:fragment="navbar">
    <div id="navbar">
        <ul class="nav">
            <li class="nav-item"><a th:href="@{|/|}">Home</a></li>
            <li class="nav-item"><a th:href="@{/archive}">Archivio</a></li>
            <li class="nav-item"><a th:href="@{|/password|}">Generatore PW</a></li>
        </ul>


        <section  sec:authorize="isAnonymous()">
            <a class="button-login-logout" th:href="@{/login}">Login</a>
            <a  class="button-login-logout" th:href="@{/user/register}">Registrati</a>
        </section>

        <section sec:authorize="isAuthenticated()">
            <ul  class="nav">
                <li class="nav-item"><a th:href="@{|/user/show/${userLogged.id}|}">Info utente</a></li>
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-primary" type="submit">Logout</button>
                </form>
            </ul>

        </section>


    </div>
</th:block>